<p>Sir,I need a leave and the the details are below:-</p>
<p>Applied On :- <%=@leave_details.applied_date.to_date%></p>
<p>Reason :- <%=@leave_details.reason%></p>
<p>From :- <%=@leave_details.leaves_from.to_date%></p>
<p>To :- <%=@leave_details.leaves_to.to_date%></p>
<p>Leave type :- <%=@leave_details.leave_type.leave_type%></p>