<div class="jumbotron containerwidth">
  <center>
  
  </center>
   <%  if user_signed_in? %>
   	<%#= current_user.inspect %>
    <% if flash[:notice] %>
      <div class="notice alert alert-success"><%= flash[:notice] %></div>
    <% elsif flash[:alert] %>
      <div class="alert alert alert-warning"><%= flash[:alert] %></div>
    <% end %>

   	<% if current_user.manager_id == 0 %>
   	  <p>You don't have been assigned a manager yet.<p>
   	<% else %>	
     <p> Manager : <%= current_user.try(:manager).try(:name) || 'Not Available' %> <p>
    <% end %> 	

    <table class="table table-striped table-hover table-bordered">
      <thead>
        <tr>
          <th>Leave_type</th>
          <th>Leave_allowed</th>
          <th>Leave_requested</th>
          <th>Leave_approved</th>
          <th>Leaves_remaining</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Sick Leaves</td>

          <td><%=current_user.sl_allowed%></td>

          <% @current_user_requests = LeaveRequest.where(:user_id => current_user.id) %>
          <% @current_user_sl = @current_user_requests.where(:leave_type => 'SL') %>
          <% @sl_requested_days_count = 0 %>
          <% @current_user_sl.each do |c| %>
            <% @sl_requested_days_count = @sl_requested_days_count + c.leave_days %>
          <%end%>

          <td><%= @sl_requested_days_count %></td>

          <% @sl_lev_approved = @current_user_sl.where(:status => 'approved') %>
          <% @sl_approved_days_count = 0 %>
          <% @sl_lev_approved.each do |c| %>
            <% @sl_approved_days_count = @sl_approved_days_count + c.leave_days %>
          <%end%>

          <td><%= @sl_approved_days_count %></td>

          <td>
            <% if current_user.sl_allowed %>
              <%=current_user.sl_allowed - @sl_requested_days_count - @sl_approved_days_count %>
            <% end %>
          </td>
        </tr>

        <tr>
          <td>Casual Leaves</td>

          <td><%=current_user.cl_allowed%></td>

          <%# @current_user_requests = LeaveRequest.where(:user_id => current_user.id) %>
          <% @current_user_cl = @current_user_requests.where(:leave_type => 'CL') %>
          <% @cl_requested_days_count = 0 %>
          <% @current_user_cl.each do |c| %>
            <% @cl_requested_days_count = @cl_requested_days_count + c.leave_days %>
          <%end%>

          <td><%= @cl_requested_days_count %></td>

          <% @cl_lev_approved = @current_user_cl.where(:status => 'approved') %>
          <% @cl_approved_days_count = 0 %>
          <% @cl_lev_approved.each do |c| %>
            <% @cl_approved_days_count = @cl_approved_days_count + c.leave_days %>
          <%end%>

          <td><%= @cl_approved_days_count %></td>

            <td>
              <% if current_user.cl_allowed %>
                <%=current_user.cl_allowed - @cl_requested_days_count - @cl_approved_days_count %>
              <% end %>
            </td>
          </tr>

        <tr>

          <td>Planned Leaves</td>

          <td><%=current_user.pl_allowed%></td>

          <%# @current_user_requests = LeaveRequest.where(:user_id => current_user.id) %>
          <% @current_user_pl = @current_user_requests.where(:leave_type => 'PL') %>
          <% @pl_requested_days_count = 0 %>
          <% @current_user_pl.each do |c| %>
            <% @pl_requested_days_count = @pl_requested_days_count + c.leave_days %>
          <%end%>

          <td><%= @pl_requested_days_count %></td>

          <% @pl_lev_approved = @current_user_pl.where(:status => 'approved') %>
          <% @pl_approved_days_count = 0 %>
          <% @pl_lev_approved.each do |c| %>
            <% @pl_approved_days_count = @pl_approved_days_count + c.leave_days %>
          <%end%>

          <td><%= @pl_approved_days_count %></td>

            <td>
              <% if current_user.pl_allowed %> 
                <%= current_user.pl_allowed - @pl_requested_days_count - @pl_approved_days_count %>
              <% end %>
            </td>
        </tr>

        <tr>

      </tbody>  
    </table>
    
    <center>
      <p> Total Leaves <% if current_user.leave_record %>
        <%= current_user.leave_record.total_leaves %>
      <% end %></p>
      <p> Leaves Taken <%= @sl_approved_days_count + @cl_approved_days_count + @pl_approved_days_count %> </p>
      <p><%= link_to 'Create a leave request', new_vacation_path, :class => 'btn btn-success btn-lg bt',"data-no-turbolink" => true %></p>
   </center>
   <% end %>
  
</div>
