<div class="jumbotron containerwidth">
    
    <%  if user_signed_in? %>
      <% if flash[:notice] %>
        <div class="notice alert alert-success"><%= flash[:notice] %></div>
      <% elsif flash[:alert] %>
        <div class="alert alert alert-warning"><%= flash[:alert] %></div>
      <% end %>

      <p>Manager : <%= current_user.manager.nil? ? "You don't have been assigned a manager yet." : current_user.manager.name %></p>

      <table class="table table-striped table-hover table-bordered">
        
        <thead>
          <tr>
            <th rowspan="2"> Leave Type</th>
            <th rowspan="2"> Leaves Allowed</th>
            <th colspan="2"> Leaves Records</th>
            <th colspan = "2"> Leaves Requested </th>
          </tr>
          <tr>
            <th>Leaves Approved</th>
            <th>Leaves Remaining</th>
            <th>Pending</th>
            <th>Unapproved</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Sick Leaves</td>
            <td><%= current_user.sl_records.leaves_allowed%></td>
            <td><%= current_user.sl_approved_requests %></td>
            <td><%= current_user.sl_records.leaves_allowed - current_user.sl_approved_requests - current_user.sl_pending_requests %></td>
            <td><%= current_user.sl_pending_requests %></td>
            <td><%= current_user.sl_unapproved_requests %></td>
          </tr>

          <tr>
            <td>Casual Leaves</td>
            <td><%= current_user.cl_records.leaves_allowed %></td>
            <td><%= current_user.cl_approved_requests %></td>
            <td><%= current_user.cl_records.leaves_allowed - current_user.cl_approved_requests - current_user.cl_pending_requests %></td>
            <td><%= current_user.cl_pending_requests %></td>
            <td><%= current_user.cl_unapproved_requests %></td>
          </tr>

          <tr>
            <td>Planned Leaves</td>
            <td><%= current_user.pl_records.leaves_allowed %></td>
            <td><%= current_user.pl_approved_requests %></td>
            <td><%= current_user.pl_records.leaves_allowed - current_user.pl_approved_requests - current_user.pl_pending_requests %></td>
            <td><%= current_user.pl_pending_requests %></td>
            <td><%= current_user.pl_unapproved_requests %></td>
          </tr>
        </tbody>
      </table>

      <center>
            <p> Total Leaves : <%= current_user.sl_records.leaves_allowed + current_user.cl_records.leaves_allowed + current_user.pl_records.leaves_allowed %> </p>
            <p> Leaves Taken : <%= current_user.sl_records.leaves_taken + current_user.cl_records.leaves_taken + current_user.pl_records.leaves_taken %> </p>
            <p><%= link_to 'Create a leave request', leaves_requests_new_path, :class => 'btn btn-success btn-lg bt',"data-no-turbolink" => true %></p>
      </center>

    <% else %>
      <center>
        <h2><center> Vacation Tool </center></h2><br/>
        <p> Sign in with <strong> Your OnGraph id </strong> here </p>
      <%= link_to "Sign in with OnGraph", user_omniauth_authorize_path(:google_oauth2), :class => 'btn btn-lg btn-primary' ,"data-no-turbolink" => true %> </center>
    <%end%>

</div>
