<div class="table-responsive">
	<table class="table table-bordered table table-hover table table-striped tablewidth">
 <tr>
  <td> ID </td>
  <td> APPLIED_DATE </td>
  <td> LEAVE_TYPE </td>
  <td> REASON </td>
  <td> LEAVES_FORM </td>
  <td> LEAVES_TO </td>
  <td> STATUS </td>
  <td> STATUS_DATE </td> 
  <th colspan="2">Action</th>

   
   <% @vacations.each do |p| %>
     <tr>
     <td><%=p.id%></td>
     <td><%=p.applied_date%></td>
     <td><%=p.leave_type%></td>
     <td><%=p.reason%></td>
     <td><%=p.leaves_from%></td>
     <td><%=p.leaves_to%></td>
     <td><%=p.status%></td>
     <td><%=p.status_date%></td> 
     </tr>
   <%end%>
 </table>
</div>