<div class="table-responsive">
	<table class="table table-bordered table table-hover table table-striped tablewidth">
 <tr>
  <th> ID </th>
  <th> APPLIED_DATE </th>
  <th> LEAVE_TYPE </th>
  <th> REASON </th>
  <th> LEAVES_FORM </th>
  <th> LEAVES_TO </th>
  <th> STATUS </th>
  <th> STATUS_DATE </th>
  <th colspan="2">Action</th>

   <% @emp_requests_id.each do |p| %>
     <tr>
     <td><%=p.id%></td>
     <td><%=p.applied_date%></td>
     <td><%=p.leave_type%></td>
     <td><%=p.reason%></td>
     <td><%=p.leaves_from%></td>
     <td><%=p.leaves_to%></td>
     <td><%=p.status%></td>
     <td><%=p.status_date%></td> 
     <td>
     <%= link_to 'Approved', root_path, :class => 'btn btn-success btn-lg bt'  ,"data-no-turbolink" => true%> &nbsp;&nbsp;&nbsp;
     </td>
     <td>
     <%= link_to 'Unapproved', root_path, :class => 'btn btn-success btn-lg bt'  ,"data-no-turbolink" => true%> &nbsp;&nbsp;&nbsp;
     </td>
     </tr>
   <%end%>
   </tr>
 </table>
</div>