<!-- <div class="table-responsive">
  <p><%#= current_user.users.inspect %></p>
	<table class="table table-bordered table table-hover table table-striped tablewidth">
  <tr>
    <th> ID </th>
    <th> EMP_NAME </th>
    <th colspan="1">Action</th>

    <%# @emp.each do |employee| %>
      <tr>
       <td><%#=employee.id%></td>
       <td><%#=employee.name%></td>
       <td>
         <%#= link_to 'Details', user_path(employee) , :class => 'btn btn-success btn-lg bt'  ,"data-no-turbolink" => true%> &nbsp;&nbsp;&nbsp;
       </td>
      </tr>  
    <%# end %>
  </tr>  
 </table>
</div>    
-->


<div class="jumbotron containerwidth">
<% @emp.each_with_index do |employee, index| %>
  <div class="panel-group">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#emp_<%= index %>"> 
            <%= employee.name %>
          </a>
        </h4>
      </div>
      <div id="emp_<%= index %>" class="<%= cycle("panel-collapse collapse.in" , "panel-collapse collapsing") %> <%= index==0 ? 'panel-collapse collapse.in' : 'panel-collapse collapsing' %>" >
        <div class="panel-body">
          <p>Manager : <%= employee.manager.nil? ? "You don't have been assigned a manager yet." : employee.manager.name %></p>

      <table class="table table-striped table-hover table-bordered">
        
        <thead>
          <tr>
            <th rowspan="2"> Leave Type</th>
            <th rowspan="2"> Leaves Allowed</th>
            <th colspan="2"> Leaves Records</th>
            <th colspan = "2"> Leaves Requested </th>
          </tr>
          <tr>
            <th>Leaves Approved</th>
            <th>Leaves Remaining</th>
            <th>Pending</th>
            <th>Unapproved</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Sick Leaves</td>
            <% @current_user_records = LeaveRecord.where(:user_id => employee.id) %>
            <% @current_user_sl_allowed = @current_user_records.where(:leave_type_id => 1) %>
            <% @current_user_cl_allowed = @current_user_records.where(:leave_type_id => 2) %>
            <% @current_user_pl_allowed = @current_user_records.where(:leave_type_id => 3) %>

            <% @current_user_sl_approved = LeaveRequest.where(user_id: employee.id,leave_type_id: 1 ,status: "approved") %>
            <% @sl_approved_days_count = 0 %>
              <% @current_user_sl_approved.each do |count| %>
                <% @sl_approved_days_count = @sl_approved_days_count + count.leave_days %>
              <%end%>

            <% @current_user_cl_approved = LeaveRequest.where(user_id: employee.id,leave_type_id: 2 ,status: "approved") %>
            <% @cl_approved_days_count = 0 %>
              <% @current_user_cl_approved.each do |count| %>
                <% @cl_approved_days_count = @cl_approved_days_count + count.leave_days %>
              <%end%>

            <% @current_user_pl_approved = LeaveRequest.where(user_id: employee.id,leave_type_id: 3 ,status: "approved") %>
            <% @pl_approved_days_count = 0 %>
              <% @current_user_pl_approved.each do |count| %>
                <% @pl_approved_days_count = @pl_approved_days_count + count.leave_days %>
              <%end%>  

            <% @current_user_sl_requested = LeaveRequest.where(user_id: employee.id,leave_type_id: 1 ,status: "pending")%>
            <% @sl_requested_days_count = 0 %>
              <% @current_user_sl_requested.each do |count| %>
                <% @sl_requested_days_count = @sl_requested_days_count + count.leave_days %>
              <%end%>

            <% @current_user_cl_requested = LeaveRequest.where(user_id: employee.id,leave_type_id: 2 ,status: "pending")%>
            <% @cl_requested_days_count = 0 %>
              <% @current_user_cl_requested.each do |count| %>
                <% @cl_requested_days_count = @cl_requested_days_count + count.leave_days %>
              <%end%>

            <% @current_user_pl_requested = LeaveRequest.where(user_id: employee.id,leave_type_id: 3 ,status: "pending")%>
            <% @pl_requested_days_count = 0 %>
              <% @current_user_pl_requested.each do |count| %>
                <% @pl_requested_days_count = @pl_requested_days_count + count.leave_days %>
              <%end%>

            <% @current_user_sl_unapproved = LeaveRequest.where(user_id: employee.id,leave_type_id: 1 ,status: "unapproved")%> 
            <% @sl_unapproved_days_count = 0 %>
              <% @current_user_sl_unapproved.each do |count| %>
                <% @sl_unapproved_days_count = @sl_unapproved_days_count + count.leave_days %>
              <%end%>

            <% @current_user_cl_unapproved = LeaveRequest.where(user_id: employee.id,leave_type_id: 2 ,status: "unapproved")%> 
            <% @cl_unapproved_days_count = 0 %>
              <% @current_user_cl_unapproved.each do |count| %>
                <% @cl_unapproved_days_count = @cl_unapproved_days_count + count.leave_days %>
              <%end%>

            <% @current_user_pl_unapproved = LeaveRequest.where(user_id: employee.id,leave_type_id: 3 ,status: "unapproved")%> 
            <% @pl_unapproved_days_count = 0 %>
              <% @current_user_pl_unapproved.each do |count| %>
                <% @pl_unapproved_days_count = @pl_unapproved_days_count + count.leave_days %>
              <%end%>

            <td>
              <%= @current_user_sl_allowed.first.leaves_allowed %>
            </td>

            <td>
              <%= @sl_approved_days_count %>
            </td>

            <td>
              <%=@current_user_sl_allowed.first.leaves_allowed -  @sl_requested_days_count -  @sl_approved_days_count %>
            </td>

            <td>
              <%= @sl_requested_days_count %>
            </td>

            <td>
              <%= @sl_unapproved_days_count %>
            </td>

          </tr>

          <tr>
            <td>Casual Leaves</td>

            <td>
              <%= @current_user_cl_allowed.first.leaves_allowed %>
            </td>

            <td>
              <%= @cl_approved_days_count %>
            </td>

            <td>
              <%=@current_user_cl_allowed.first.leaves_allowed -  @cl_requested_days_count -  @cl_approved_days_count %>
            </td>

            <td>
              <%= @cl_requested_days_count %>
            </td>

            <td>
              <%= @cl_unapproved_days_count %>
            </td>

          </tr>

          <tr>
            <td>Planned Leaves</td>

            <td>
              <%= @current_user_pl_allowed.first.leaves_allowed %>
            </td>

            <td>
              <%= @pl_approved_days_count %>
            </td>

            <td>
              <%=@current_user_pl_allowed.first.leaves_allowed -  @pl_requested_days_count -  @pl_approved_days_count %>
            </td>

            <td>
              <%= @pl_requested_days_count %>
            </td>

            <td>
              <%= @pl_unapproved_days_count %>
            </td>

          </tr>
        </tbody>
      </table>
      <center>
      <p> Total Leaves : <%= @current_user_sl_allowed.first.leaves_allowed + @current_user_cl_allowed.first.leaves_allowed + @current_user_pl_allowed.first.leaves_allowed %> </p>
      <p> Leaves Taken : <%= @sl_approved_days_count + @cl_approved_days_count + @pl_approved_days_count %> </p>
      
   </center>

        </div>
      </div>
    </div>
  </div>
<%end%>
</div>