<div class="jumbotron containerwidth">
<% @emp.each_with_index do |employee, index| %>
  <div class="panel-group">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#emp_<%= index %>"> 
            <%= employee.name %>
          </a>
        </h4>
      </div>
      <div id="emp_<%= index %>" class="<%= cycle("panel-collapse collapse.in" , "panel-collapse collapsing") %> <%= index==0 ? 'panel-collapse collapse.in' : 'panel-collapse collapsing' %>" >
        <div class="panel-body">
          <p>Manager : <%= employee.manager.nil? ? "You don't have been assigned a manager yet." : employee.manager.name %></p>

          <table class="table table-striped table-hover table-bordered">
            
            <thead>
              <tr>
                <th rowspan="2"> Leave Type</th>
                <th rowspan="2"> Leaves Allowed</th>
                <th colspan="2"> Leaves Records</th>
                <th colspan = "2"> Leaves Requested </th>
              </tr>
              <tr>
                <th>Leaves Approved</th>
                <th>Leaves Remaining</th>
                <th>Pending</th>
                <th>Unapproved</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Sick Leaves</td>
                <td><%= employee.sl_records.leaves_allowed %></td>
                <td><%= employee.sl_approved_requests %></td>
                <td><%= employee.sl_records.leaves_allowed - employee.sl_approved_requests - employee.sl_pending_requests %></td>
                <td><%= employee.sl_pending_requests %></td>
                <td><%= employee.sl_unapproved_requests %></td>
              </tr>

              <tr>
                <td>Casual Leaves</td>
                <td><%= employee.cl_records.leaves_allowed %></td>
                <td><%= employee.cl_approved_requests %></td>
                <td><%= employee.cl_records.leaves_allowed - employee.cl_approved_requests - employee.cl_pending_requests %></td>
                <td><%= employee.cl_pending_requests %></td>
                <td><%= employee.cl_unapproved_requests %></td>
              </tr>

              <tr>
                <td>Planned Leaves</td>
                <td><%= employee.pl_records.leaves_allowed %></td>
                <td><%= employee.pl_approved_requests %></td>
                <td><%= employee.pl_records.leaves_allowed - employee.pl_approved_requests - employee.pl_pending_requests %></td>
                <td><%= employee.pl_pending_requests %></td>
                <td><%= employee.pl_unapproved_requests %></td>
              </tr>

            </tbody>
          </table>
          <center>
            <p> Total Leaves : <%= employee.sl_records.leaves_allowed + employee.cl_records.leaves_allowed + employee.pl_records.leaves_allowed %> </p>
            <p> Leaves Taken : <%= employee.sl_records.leaves_taken + employee.cl_records.leaves_taken + employee.pl_records.leaves_taken %> </p>
          </center>
        </div>
      </div>
    </div>
  </div>
<%end%>
</div>