<% provide(:title, 'Applied for Leaves') %>
<div class="container containerwidth formwidth" style="background-color:#ffffff;border:1px solid #dedede;box-shadow:8px 8px 8px 8px #dedede;">
  
	<div>
		<center><h2 class="pageTitle ">Leaves Request Form</h2></center>
	</div>
  <br/><br/>
  <%= simple_form_for @leave, html: {class: 'form-horizontal' }, url: leaves_path do |f| %>
   
    <%= render 'shared/error_messages', object: f.object %>
    
      <div class="form-group">
        <%= f.input :leave_type do %>
          <%= f.collection_select(:leave_type_id , LeaveType.all, :id, :leave_type) %>
        <% end %>     
      </div>

      <div class="form-group">
        <%= f.label :Documents %><br>
        <%= f.file_field :avtar %>
      </div>

      <div class="form-group">
        <%= f.input :reason, as: :text, :input_html => { class: 'test'} %>
      </div>

      <div class="form-group"> 
        <%= f.input :leaves_from, :as=> 'string' ,:label => 'leaves_from', input_html: { class: 'datepicker'} %>
      </div>

      <div class="form-group">  
        <%= f.input :leaves_to, :as=> 'string' ,:label => 'leaves_to', input_html: { class: 'datepicker' } %>
      </div>

      <div class="form-group">
        <%= f.button :submit, class: "btn btn-large btn-primary" %> &nbsp; &nbsp;
        <%= link_to "Cancel", root_path, class: "btn btn-large btn-primary" ,"data-no-turbolink" => true %>
      </div>
  <% end %>
</div>     
      