<div class="jumbotron containerwidth">
  <div class="table-responsive">
    <table class="table table-bordered table table-hover table table-striped tablewidth">
      <thead>
        <tr>
          <th>Emp ID</th>
          <th>Emp Name</th>
          <th>Leave Type</th>
          <th>Applied On</th>
          <th>Leave From</th>
          <th>Leave To</th>
          <th>Reason</th>
          <th>Documents</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr><% @emp.each do |employee| %>
              <% leaves = employee.all_requests(employee) %>
              
                <% leaves.each do |emp_leave_req| %>
                  <td><%= employee.id %></td>
                  <td><%= employee.name %></td>
                  <td><%= emp_leave_req.leave_type.leave_type %></td>
                  <td><%= emp_leave_req.applied_date.to_date %></td>
                  <td><%= emp_leave_req.leaves_from.to_date %></td>
                  <td><%= emp_leave_req.leaves_to.to_date %></td>
                  <td><%= emp_leave_req.reason%></td>
                  <td><%= image_tag(emp_leave_req.avtar_url, :width => 150, :height => 120) if emp_leave_req.avtar.present? %></td>
                  <td><%= link_to 'Approve', approve_leave_path(emp_leave_req) , :class => 'btn btn-success' %> &nbsp;&nbsp;&nbsp;
                    <%= link_to 'UnApprove', unapprove_leave_path(emp_leave_req) , :class => 'btn btn-danger' %>
                  </td>
        </tr>
                <% end %>
            <% end %>
      </tbody>
    </table>
  </div>
</div>
