<nav class="navbar navbar-default navbar-inverse" role="navigation">
  <div class="navbar-header">
    <div class= "container">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Vacation Tool', root_path, :class => "navbar-brand" %>
 
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <% if current_user.roles.map { |e| e.role_name }.include?("Manager") %>
             <b><%= link_to "Employee Requests", employee_requests_path, :class => 'navbar-text' %>
             <%= link_to "Employee List", employee_list_path, :class => 'navbar-text' %>    
          <% end %>  

          <%= link_to "Employee Dashboard", vacations_home_path, :class => 'navbar-text' %>
          <div class="navbar-text"><b>Welcome <%= current_user.name %></div>
          <b><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-text' %></b>

          <% if current_user.roles.map { |e| e.role_name }.include?("Admin")%>
            <%= link_to "Admin", rails_admin_path, :class => 'navbar-text' %></b>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
